body,
html {

    height: 100%;
    width: 100%;
    font-family: 'Encode Sans', sans-serif;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    width: 70%;
    height: auto;
    background-color: #1a1c19;
}

.right {
    width: 30%;
    height: 100%;
    background-color: #010101;
    height: 100%;
}

.logo {
    margin: 20px;
    padding: 10px;
}

.logo a {
    color: white;
    font-size: 2rem;
    font-style: italic;
}

.cards {
    margin-bottom: 70px;
    padding: 5px;
}

.card {
    max-width: 80%;
    min-height: 350px;
    max-height: 350px;
}

.card img {
    max-height: 250px;
    min-height: 250px;
}

.card-body {
    overflow-y: auto;
    height: 80px;
}


.rightNav a {
    color: #8A8A8A;
    font-size: 1.2em;
    margin-left: 35px;
}

.rightNav a:hover {
    color: white;
}

.image-container {
    position: relative;
    max-width: 100%;
    margin-left: 100px;
    margin-top: 80px;
}

img {
    height: 480px;
    width: 400px;
    border-radius: 20px;
    border-image: fill;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    background-color: rgba(26, 28, 25, 0.7);
    padding: 10px;
    border-radius: 5px;
}

span {
    display: block;
}

.container-more span {
    margin-top: 20px;
    margin-left: 100px;
    font-style: italic;
}

.moreProjects {
    color: white;
    font-size: 1.2rem;
}

.moreProjects a {
    text-decoration: none;
    color: white;
    border: 1pt solid white;
    width: 130px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}

.moreProjects a:hover {
    color: rgb(112, 112, 112);
    border: 1pt solid rgb(112, 112, 112);
    transition: 0.3s ease-in-out;
}